.codeSnippetContainer {
    position: relative;
    margin: 20px 0;
}

.iconContainer {
    position: absolute;
    top: 4px;
    right: -4px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s;
}

.icon {
    width: 25px;
    opacity: 0.8;
}

.jsicon {
    margin-top: 10px;
    margin-right: 18px;
    width: 28px;
    opacity: 0.8;
}

.copyButton {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyButton:focus {
    outline: 2px solid #ffffff00;
}

.copyButton:hover .icon {
    transform: scale(1.1);
}